group Main
    source https://api.nuget.org/v3/index.json
    storage:none
    
    nuget FSharp.Core
    nuget Fable.Core 3.0.0-beta-005
    nuget Fable.Parsimmon 4.0.0-beta
    nuget Fable.SimpleJson 3.0.0-beta
    nuget Fable.Browser.Dom 1.0.0-alpha-004

group Build
  framework >= net45
  source https://api.nuget.org/v3/index.json

  nuget FAKE ~> 4.64.6